
@{
    ViewBag.Title = "anoymousresult";
   
}

<h2>anoymousresult</h2>
<div>
    <h1> name is @ViewData.Eval("name");</h1>
    <h2>shoes is @ViewData.Eval("price");</h2>
    @*//What ever data we pass in anaymous we get it in the form of view data so vwe are using VieDaata.Eval*@

    <h2>id is @ViewData.Eval("id");</h2>
</div>
t