@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>
<div>
    <table caption ="product details" border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
        </tr>
        <tr>
            <td>@ViewData["id"]</td>
            <td>@ViewData["name"]</td>
            <td>@ViewData["price"]</td>
        </tr>

    </table>
</div>

