
@{
    ViewBag.Title = "test6";
}

<h2>test6</h2>
<div>
    @{
        <h1> the value of name is @TempData["name"]</h1>
        <h1> the value of name is @TempData["price"]</h1>
        <h1> the value of name is @TempData["id"]</h1>
        <centre><a href="/Home/display">click here to go neew page</a></centre>
    }
</div>

